.loader__section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: loader 5s both;
	animation: loader 5s both;
    font: 50px 'Shrikhand', sans-serif;
}

.loader { 
    background-image: linear-gradient(to right, #ff79da , #9356dc, #ff79da, #9356dc,#ff79da);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;   
    background-size: 300%;
    background-position: -100%;  
    animation: animatedText 10s infinite alternate, spin 2s linear ;

}
      
@keyframes animatedText{
    to{
        background-position: 100%; 
    }
}
@keyframes spin {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0);}
  }

